main{
    min-height: 600px;
}
.mcenter{
    margin: 0 auto;
    width: 270px;
}
.mcenter > p,
.mcenter h2{
    text-align: center;
}

#datetimepicker{
    width: 240px;
    height: 25px;
    padding: 10px 15px;
    font-size: 2rem;
    line-height: 20px;
}

form > input[type="submit"]{
    width: 270px;
    height: 50px;
    color: #fff;
    background-color: #66cc99;
    font-size: 2rem;
    line-height: 50px;
    text-align: center;
    border: 0;
    border-radius: 4px;
    cursor: pointer;
}
form > input[type="submit"]:hover{
    box-shadow: 0 2px 4px rgba(0, 0, 0, .3);
}