body {
    background-color: #f2f2f2;
}

header {
    position: fixed;
    top: 0;
    width: inherit;
    background-color: #fff;
    box-shadow: 0 2px 4px rgba(0,0,0,0.3);
    z-index: 100;
}

.headup,
.headmid{
    width: 100%;
    height: 60px;
}
/* 导航条样式 */

nav {
    padding: 0 50px;
    float: left;
    font-size: 0;
}
nav > a {
    display: inline-block;
    width: 100px;
    height: 20px;
    padding: 25px 0 15px;
    line-height: 20px;
    text-align: center;
    color: #66cc99;
    font-size: 1.5rem;
}
nav > a:hover {
    background-color: #66cc99;
    color: #fff;
}


/* 搜索框父元素 */
.headmid{
    position: relative;
}
/* 频道导航 */
.headdown{
    font-size: 0;
    height: 40px;
}
.headdown > a{
    display: inline-block;
    font-size: 1.5rem;
    width: 20%;
    height: 40px;
    text-align: center;
    line-height: 40px;
    color: #66cc99;
}
.headdown > a:hover{
    color: tomato;
    border-bottom: 3px solid #ff6666;
}

/* 主题内容样式 */
main {
    margin-top: 180px;
    height: inherit;
    z-index: 50;
}

/* 完美矩形 9阶 */
.perfectRect9-1{
    width: 750px;
    height: 640px;
    position: relative;
}
.perfectRect9-1 > div{
    position: absolute;
}
.square14{
    top: 0;
    left: 0;
    width: 280px;
    height: 280px;
    background-color: red;
}
.square18{
    top: 280px;
    left: 0;
    width: 360px;
    height: 360px;
    background-color: orange;
}
.square10{
    top: 0;
    left: 280px;
    width: 200px;
    height: 200px;
    background-color: yellow;
}
.square9{
    top: 0;
    right: 90px;
    width: 180px;
    height: 180px;
    background-color: green;
}
.square15{
    right: 90px;
    bottom: 0;
    width: 300px;
    height: 300px;
    background-color: purple;
}
.square8{
    right: 90px;
    top: 180px;
    width: 160px;
    height: 160px;
    background-color: gold;
}
.square7{
    top: 200px;
    right: 250px;
    width: 140px;
    height: 140px;
    background-color: indigo;
}
.square1{
    top: 180px;
    right: 250px;
    width: 20px;
    height: 20px;
    background-color: blue;
}
.square4{
    top: 200px;
    left: 280px;
    width: 80px;
    height: 80px;
    background-color: brown;
}
.rect90640{
    position: absolute;
    top: 0;
    right: 0;
    width: 90px;
    height: 640px;
    background-color: tan;
}




/* 完美矩行 9阶2 */

/* 完美矩形 10阶 */

/* 完美正方形 最小21阶 */


.sidebar {
    width: 170px;
    height: 400px;
    position: fixed;
    top: 180px;
    background-color: #fff;
}

.sidebar ul{
    margin: 0;
    padding: 0;
    list-style-type: none;
    height: 325px;
    padding-top: 10px;
}
.infonav li{
    width: 100%;
    height: 40px;
    line-height: 40px;
    font-size: 1.4rem;
    margin-bottom: 10px;
}
.infonav li a{
    display: inline-block;
    width: 150px;
    margin: 0 10px;
    height: 32px;
    padding: 4px 0;
    line-height: 32px;
    text-align: center;
    position: relative;
    border-radius: 2px;
}
.infonav li a img{
    position: absolute;
    top: 4px;
    left: 4px;
}
.infonav li a:hover{
    background-color: #66cc99;
    box-shadow: 3px 3px 3px rgba(0,0,0,0.24);
    color: #fff;
}
.sidebar>a:hover{
    color: #fff;
    box-shadow: 3px 3px 3px rgba(0,0,0,0.24);
    box-shadow: 2px 4px 5px rgba(0,0,0,0.24);
}

/* 自定义发布信息内容样式 */
.content {
    margin-left: 185px;
    width: 750px;
}
.headline{
    width: 100%;
    border-bottom: 10px solid #f2f2f2;
}

.c-show-img{
    margin: 0;
    padding: 0;
    list-style-type: none;
    width: 100%;
    height: 250px;
}
.c-show-img li{
    margin: 0;
    width: 150px;
    height: 250px;
    float: left;
}
.c-show-img li a {
    display: inline-block;
    font-size: 0;
}
.c-show-img li a img{
    width: 150px;
    height: 250px;
}
.c-list{
    background-color: #fff;
}
.c-list li{
    border-bottom: 2px solid #f2f2f2;
    color: #333;
}
.c-list li a{
    display: inline-block;
    width: 100%;
    height: 40px;
    font-size: 2.2rem;
    line-height: 40px;
    font-weight: 700;
}

/* orderheadline */


/* 未来信息通知中心样式 */
.note {
    width: 250px;
    height: 800px;
    background-color: #66cc99;
}


