{% extends 'basepost.html' %}
{% load blog_tags %}


{% block title %}
    {{ post.title }}
{% endblock title %}

{% block content %}
    <div class="contentbox">
        <div class="article-title">
            <h1>{{ post.title }}</h1>
        </div>
        <div class="article-label">
            {% with post.tags.all as tags %}
                {% for tag in tags %}
                    <a href="{% url 'blog:post_list_by_tag' tag.slug %}">{{ tag.name }} </a>
                {% endfor %}
            {% endwith %}
            <span class="pv">浏览: {{ post.pv }}</span>
        </div>
        <div class="article-content">
            {{ post.body|markdown }}
        </div>
        <p class='date'>
            Published {{ post.publish }} by {{ post.author }}
        </p>
        <hr>
        <h3>相关文章</h3>
        {% for post in similar_posts %}
            <p class='similar-post'>
                <a href='{{ post.get_absolute_url }}'>{{ post.title }}</a>
            </p>
        {% endfor %}
        <hr>
        <div class="article-related"></div>
        {% with comments.count as total_comments %}
            <p>{{ total_comments }} comment{{ total_comments|pluralize }}</p>
        {% endwith %}
        {% for comment in comments %}
            <div class='comment'>
                <p class='info'>
                    Comment {{ forloop.counter }} by {{ comment.name }} at {{ comment.created }}
                </p>
                {{ comment.body|markdown }}
            </div>
            {% empty %}
            <p>There are no comments yet.</p>
        {% endfor %}
        <hr>
        {% if new_comment %}
            <h2>Your comment has been added.</h2>
        {% else %}
            <form action='.' method='post' class="comment-form">
                {{ comment_form.as_p }}
                {% csrf_token %}
                <p><input type='submit' value='我的评论'></p>
            </form>
        {% endif %}
    </div>

    <aside>
        <div class="author-info">
            <a href="myspace.html">
                <img src="/static/avatar/avatar.png" alt="avatar">
                <span>{{ post.author }}</span><br>
                <span>一切皆有可能，一切皆可编程</span>
            </a>
        </div>
        <!-- <p>视频选集：</p>
        <div class="album-nav">
            <p></p>
            <p>1</p>
            <p>1</p>
            <p>1</p>
        </div> -->
        <h4>本文目录</h4>
        {{ post.toc }}
    </aside>

{% endblock content %}