{% extends 'base2.html' %}
{% load blog_tags %}


{% block title %}
    {{ post.title }}
{% endblock title %}

{% block content %}
    <div class="contentbox">
        <div class="article-title">
            <h1>{{ post.title }}</h1>
        </div>
        <div class="article-label">
            {% with post.tags.all as tags %}
                {% for tag in tags %}
                    <a href="{% url 'blog:post_list_by_tag' tag.slug %}">{{ tag.name }} </a>
                {% endfor %}
            {% endwith %}
            <span class="pv">浏览: {{ post.pv }}</span>
        </div>
        <div class="article-content">
            {{ post.body|markdown }}
        </div>
        <br>
        <p class='date'>
            Published {{ post.publish }} by {{ post.author }}
        </p>

        {% with total_like=post.users_like.count users_like=post.users_like.all %}
        <p class="like-or-unlike">
            <a href="#" data-id="{{ post.id }}" data-action="{% if request.user in users_like %}un{% endif %}like" class="like"></a>
            <span class="likecount">{{ total_like }}</span>
        </p>
        {% endwith %}
        <hr>
        <h3>相关文章</h3>
        {% for post in similar_posts %}
            <p class='similar-post'>
                <a href='{{ post.get_absolute_url }}'>{{ post.title }}</a>
            </p>
        {% endfor %}
        <hr>
        <div class="article-related"></div>
        {% with comments.count as total_comments %}
            <p>{{ total_comments }} comment{{ total_comments|pluralize }}</p>
        {% endwith %}
        {% for comment in comments %}
            <div class='comment'>
                <p class='info'>
                    Comment {{ forloop.counter }} by {{ comment.name }} at {{ comment.created }}
                </p>
                {{ comment.body|markdown }}
            </div>
            {% empty %}
            <p>There are no comments yet.</p>
        {% endfor %}
        <hr>
        {% if new_comment %}
            <h2>Your comment has been added.</h2>
        {% else %}
            <form action='.' method='post' class="comment-form">
                {{ comment_form.as_p }}
                {% csrf_token %}
                <p><input type='submit' value='我的评论'></p>
            </form>
        {% endif %}
    </div>

    <aside class="detail-aside">
        <div class="author-info">
            <a href="{% url 'visit_homepage' post.author.id %}">
                <img src="/static/avatar/avatar.png" alt="avatar">
                <span>{{ post.author }}</span><br>
                <span>一切皆有可能，一切皆可编程</span>
            </a>
        </div>
        <h4>本文目录</h4>
        {{ post.toc }}
    </aside>

{% endblock content %}


{% block extrajs %}
<script>
    let alike = document.querySelector(".like-or-unlike .like");
    let alikeCount = document.querySelector(".like-or-unlike .likecount");
        
    alike.addEventListener('click', function(e){
        e.preventDefault();
        myajax({
            method: 'POST',
            url: '{% url "blog:like" %}',
            csrftoken: getCookie('csrftoken'),
            data: {
                id: alike.getAttribute('data-id'),
                action: alike.getAttribute('data-action'),
            },
            success: function(data){
                data = JSON.parse(data);
                
                let counts = parseInt(alikeCount.textContent);
                let cur_action = alike.getAttribute('data-action');

                if (data['status'] === 'ok'){
                    alike.setAttribute('data-action', cur_action=='like' ? 'unlike' : 'like');
                    alikeCount.textContent = cur_action === 'like' ? counts + 1 : counts - 1;
                    alike.style.backgroundImage = cur_action === 'like' ? "url('/static/icons/unlike24.png')" : "url('/static/icons/like24.png')";
                }
            }
        });
    });

</script>
{% endblock extrajs %}
    