{% load static %}
{% load blog_tags %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>
        {% block title %}
        {% endblock title %}
    </title>
    <link REL="SHORTCUT ICON" HREF="{% static "favicon.ico" %}"/>
    <link rel="stylesheet" href="/static/css/common.css">
    <link rel="stylesheet" href="/static/css/detail.css">
    {% block csslink %}
    {% endblock csslink %}
</head>
<body>
    <div class="container">
        <!-- 通用头部 -->
        <header>
            <div class="com-header clearfix">
                <div class="logo fl">
                    <a href="{% url 'home' %}">MetBea</a>
                </div>
                <nav>
                    <a href="testjs.html">探索中心</a>
                    <a href="testjs.html">创建组织</a>
                    <a href="testjs.html">可编程TV</a>
                </nav>
                <!-- 搜索导航 -->
                <div class="search-box">
                    <div class="searchwrap">
                        {% show_search_widget %}
                    </div>
                </div>

                <div class="login-wrap fr">
                    <div class="logined">
                        <a href="{% url 'edit' %}">Hi: {{ request.user.username }}</a>
                        <div class="dropdown-content">
                            <a href="{% url 'visit_homepage' request.user.id %}">我的空间</a>
                            <a href="{% url 'writing' %}">创作与发布</a>
                            <a href="{% url 'logout' %}">退出</a>
                        </div>
                    </div>
                </div>

            </div>
        </header>
        <main>
            {% block content %}

            {% endblock content %}
        </main>
        <!-- 这是通用底部块 -->
        <footer>

        </footer>
    </div>

    <script src="/static/js/script.js"></script>
</body>
</html>